<div class="csui-thumbnail-user csui-thumbnail-user-{{cid}}">
  <div class="csui-thumbnail-label csui-thumbnail-user-content-label" aria-label="{{label}}">
    <span>{{label}}</span>
  </div>
  <div class="csui-thumbnail-value csui-thumbnail-user-content-justify-div">
    <p class="csui-thumbnail-item-content-value" title="{{value}}"
       aria-label="{{userNoOpenAria}}">{{value}}</p>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->