{{#if expandedHeader}}
  {{#if actionIconLeft}}
    <span class="tile-type-action-icon cs-icon-left {{actionIconLeft}}" tabindex="0"></span>
  {{/if}}
  {{#if iconLeft}}
    <span class="tile-type-icon cs-icon-left {{iconLeft}}"></span>
    <div class="tile-title">
  {{else}}
    {{#if imageLeftUrl}}
        <div class="tile-type-image {{imageLeftClass}}">
          <img src="{{imageLeftUrl}}" aria-hidden="true" alt="">
        </div>
      <div class="tile-title">
    {{else}}
      <div class="tile-title cs-text-only">
    {{/if}}
  {{/if}}
    <h4 class="tile-title binf-modal-title">{{title}}</h4>
  </div>

    <div class="cs-header-control"></div>

  {{#if showCloseBtn}}
      <div class="cs-close" title="{{dialogCloseButtonTooltip}}">
        <div class="icon circular {{iconRight}}" tabindex="0" aria-label="{{dialogCloseAria}}"
             role="button"></div>
      </div>
  {{/if}}

{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->