<div class="binf-row">
  <div class="esoc-simple-user-widget-form binf-col-md-12 binf-col-sm-12
  binf-col-lg-12
  binf-col-xs-12">
    <div id="metadata-pane-left-\{{options.cid}}" class="cs-form-singlecolumn">
      <div id="reportsToID-\{{options.cid}}" class="esoc-simple-user-widget-manager"></div>
      <div id="OfficeLocation-\{{options.cid}}"
           class="esoc-simple-user-widget-office-location"></div>
      <div id="MailAddress-\{{options.cid}}" class="esoc-simple-user-widget-email"></div>
      <div id="Contact-\{{options.cid}}" class="esoc-simple-user-widget-phone"></div>
      <div id="CellularPhone-\{{options.cid}}" class="esoc-simple-user-widget-mobile"></div>
    </div>
  </div>
</div>
