<a href="#" data-binf-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"
   class="binf-dropdown-toggle nav-profile csui-navbar-icons csui-acc-focusable" title="{{profileMenuTitle}}" aria-label="{{profileMenuAria}}">
  <span class="csui-profile-default-image image_user_placeholder">{{initials}}</span>
  <img class="csui-profile-image binf-img-circle binf-hidden" role="presentation" alt="{{profileImageAlt}}" src="{{imgSrc}}">
</a>
<ul class="binf-dropdown-menu csui-profile-dropdown" role="menu"></ul>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->