<div class="column-header">
  <div class="icon arrow_back" tabindex="0" title="{{backButtonTitle}}" aria-label="{{backButtonAria}}" role="button"></div>
  <div class="column-title" title="{{label}}">{{label}}</div>
</div>
<div class="add-button" tabindex="0" role="button" aria-label="{{addColumnsAria}}">
  <span class="icon icon-columnsadd" title="{{addAvailableColumns}}"></span>
</div>
<div class="columns-list binf-list-group" role="menu">
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->