<div class="column-item-container" title="{{name}}">
  <span class="icon icon-draggable-handle6"></span>
  <span class="column-label" data-csui-key="{{label}}">{{name}}</span>
</div>
{{#if isRemovable}}
  <div class="remove-button icon circle_delete" tabindex="0" role="button" aria-label="{{removeColumnAria}}" title="{{removeColumn}}"></div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->