<div class="binf-list-group-item" title="{{name}}" aria-label="{{nameTitleAria}}">
{{#if enableIcon}}<span class="csui-type-icon {{icon}}"></span>{{/if}}
<span title="{{name}}" class="list-item-title">{{name}}</span>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->