
<div class="csui-hero-tile">
  <div class="csui-hero-left">
    <div class="csui-greeting">{{greeting}}</div>
    <span class="csui-date">{{date}}</span>
  </div>
    <div class="csui-hero-right">
    {{#if includeVideo}}
    <button class="csui-videoButton" aria-label="{{videoLabel}}"></button>
    {{/if}}
    {{#if includeMessage}}
    <div class="csui-message">
      <p title="{{message}}">{{message}}</p>
    </div>
    {{/if}}
  </div>

</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->