<div class="csui-pman-widget-masking">
  {{#if isEditMode}}
    <div class="csui-pman-widget-error">
      <div class="csui-pman-widget-error-heading"> {{widgetTitle}}</div>
      <div class="csui-pman-widget-error-body">
        <div class="csui-pman-widget-error-icon"></div>
        <div class="csui-pman-widget-error-message"> {{configNeeded}}</div>
      </div>
    </div>
    <div class="csui-pman-widget-close clear-icon" title="{{removeWidget}}"></div>
  {{else}}
    <div class="csui-pman-widget-personalize-mask">
      <button class="binf-btn csui-pman-personalize-btn csui-pman-hide-widget"
              title="{{hideWidget}}">{{hideWidget}}</button>
      <button class="binf-btn csui-pman-personalize-btn csui-pman-show-widget"
              title="{{showWidget}}">{{showWidget}}</button>
    </div>
  {{/if}}
</div>
<div class="csui-pman-popover-right csui-pman-popover-holder"></div>
<div class="csui-pman-popover-left csui-pman-popover-holder"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->