<div class="csui-no-result-message-wrapper">
    <p class="csui-no-result-message" title="{{message}}">{{message}}</p>
    <div class="csui-display-hide">
        <ul class="csui-search-suggestion-list">
            <li>{{searchSuggestion1}}</li>
            <li>{{searchSuggestion2}}</li>
            <li>{{searchSuggestion3}}</li>
            <li>{{searchSuggestion4}}</li>
        </ul>
    </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->