<div class="csui-search-item-row-wrapper csui-search-item-complete-row binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
  <div class="csui-search-item-row binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
    <h3 class="csui-search-item-hide-h3">{{name}}</h3>
    <div class="csui-search-item-check"></div>
    <div class="csui-search-item-icon">
      <a href={{defaultActionUrl}}
       {{#if has_promoted}} aria-describedby="idOfPromotedLabel" {{/if}}
                        aria-label="{{name}} {{mimeTypeAria}}" title="{{OTName}}"
                  class="csui-search-item-link {{messages.inactiveclass}}"><span class="csui-type-icon"></span></a>
      </div>
    <div class="csui-search-col2 binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
      <div class="csui-search-item-left-panel binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
        <div class="csui-search-item">
          <div class="csui-search-item-name-wrapper">
            <div class="csui-search-item-name ">
              <a href={{defaultActionUrl}}  {{#if has_promoted}} aria-describedby="idOfPromotedLabel" {{/if}}
                  aria-label="{{name}} {{mimeTypeAria}}" title="{{OTName}}"
                  class="csui-search-item-link {{messages.inactiveclass}}">{{OTName}}</a>
              {{#if has_version}}
                <div class="csui-search-results-version csui-search-item-version-{{cid}}">
                  <a href="javascript:void(0);" class="csui-search-version-label">{{messages
                  .versionLabel}} {{versions.version_number_name}}
                  </a>
                </div>
              {{/if}}
              <div class="csui-icon csui-search-results-nodestateicon csui-search-item-nodestateicon
                  csui-search-item-nodestateicon-{{cid}}"></div>
            </div>
          </div>
        </div>
        <div class="csui-search-item-content-wrapper binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
          <div class="csui-search-promoted-breadcrumbs-row">
            {{#if has_promoted}}
              <div class="csui-search-promoted" id="idOfPromotedLabel" aria-label="{{promoted_label}}" title="{{promoted_label}}">
                <span class="csui-search-promoted-label">{{promoted_label}}</span>
              </div>
            {{/if}}
            {{#if messages.showBreadcrumb}}
              <div class="csui-search-breadcrumb">
                <div class="csui-search-item-breadcrumb csui-search-item-breadcrumb-{{cid}}"></div>
                <div class="csui-search-row-spacer binf-col-lg-12 binf-col-md-12 binf-col-sm-12
                binf-col-xs-12"></div>
              </div>
            {{/if}}
          </div>
          <p class="csui-search-item-desc csui-overflow-description binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12"></p>
          <div class="csui-search-row-spacer binf-col-lg-12 binf-col-md-12 binf-col-sm-12
        binf-col-xs-12 csui-search-row-spacer-divider"></div>
          <p class="csui-search-item-summary csui-overflow-summary binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12"></p>
        </div>
        <div class="csui-search-row-spacer binf-col-lg-12 binf-col-md-12 binf-col-sm-12
        binf-col-xs-12 csui-search-row-spacer-divider"></div>
      </div>
      <div class="csui-search-item-center-panel binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12"></div>
      <div class="csui-search-item-right-panel">
        <div class="csui-search-item-control-{{cid}} binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
          <div class="csui-search-toolbar-container binf-hidden binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
            {{#if version_id}}
              <div class="csui-search-item-action-{{cid}}-{{version_id}} csui-search-item-inline-actions"></div>
            {{else}}
              <div class="csui-search-item-action-{{cid}} csui-search-item-inline-actions"></div>
            {{/if}}
          </div>
          <div class="csui-search-row-spacer binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12"></div>
          <div role="list" class="csui-search-item-details-wrapper binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12"></div>
        </div>
      </div>
    </div>
    <div class="csui-search-item-action-panel csui-search-item-action-panel-{{cid}}">
      <div class="csui-search-item-fav search-fav-{{cid}}"></div>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->