<div class="csui-current-total-items">{{currentItem}} / {{totalItems}}</div>
<div class="csui-active-item-name">
  <span class="item-name">{{currentItemName}}</span>
  <span title="{{lang.downloadTitle}}" class="icon icon-download-white csui-download-gallery"
        tabindex="0"></span>
</div>
<div class="csui-carousel-container">
  <div class="csui-preview-carousal-container">
    <div id="binf-carousel" class="binf-carousel binf-slide" data-binf-ride="carousel">
      <div class="csui-preview-carousal"></div>
      <a class="binf-left binf-carousel-control" href="#binf-carousel" data-binf-slide="binf-prev"
         title="{{lang.previousTitle}}" tabindex="0">
        <span class="icon-previous-gallery" aria-hidden="true"></span>
      </a>
      <a class="binf-right binf-carousel-control" href="#binf-carousel" data-binf-slide="binf-next"
         title="{{lang.nextTitle}}" tabindex="0">
        <span class="icon-next-gallery" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="csui-carousel-film-strip">
    <div class="binf-carousel binf-slide binf-filmstrip-container" data-interval="false"></div>
    <div class="binf-left binf-carousel-control csui-thumb-toggle-control">
    <span class="binf-glyphicon binf-glyphicon-menu-down" aria-hidden="true"
          title="{{lang.hideTitle}}"></span>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->