<div class='main-area-container'>
  <div class='main-area-group'>
    <div class='error-message-area'>
      <div class='error-message-wrapper'>
        <h2 class='error-message horizontal-center-align' {{#if message}} aria-describedby="{{msgId}}" {{/if}} >
          <span class='csui-acc-focusable'>{{errorMessage}}</span>
        </h2>
      </div>
      {{#if message}}
        <div class='server-error-message-wrapper'>
          <div class='server-error-message horizontal-center-align'>
            <span id="{{msgId}}" class='csui-acc-focusable'>{{message}}</span>
          </div>
        </div>
      {{/if}}
    </div>

    <div class='navigation-area horizontal-center-align'>
      <div class='navigation-control-container'>
        <a class='go-back-button circle-border horizontal-center-align' href="#"
          title='{{backTooltip}}' aria-label='{{backTooltip}}' class='csui-acc-focusable'>
            <span class='icon icon-back'></span>
        </a>
        <div class='go-back-text button-text horizontal-center-align' title='{{backTooltip}}'>
            <span>{{backText}}</span>
        </div>
      </div>
      <div class='navigation-control-container'>
        <a class='go-home-button circle-border horizontal-center-align' href="#"
          title='{{homeTooltip}}' aria-label='{{homeTooltip}}' class='csui-acc-focusable'>
            <span class='icon icon-home'></span>
        </a>
        <div class='go-home-text button-text horizontal-center-align' title='{{homeTooltip}}'>
            <span>{{homeText}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->