<span class="csui-selected-list-item-icon  csui-type-icon" />
<div class="csui-selected-list-item-name-wrapper">
    <span class="csui-selected-list-item-name" aria-label="{{name}}"
          title="{{name}}">{{name}}</span>
  <span class="csui-icon formfield_clear csui-deselcted-icon" aria-label="{{clearItem}}"
  title="{{clearItem}}" />
  </span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->