<div class="csui-selected-counter-region">
  <button type="button" class="binf-btn binf-btn-primary"
          aria-label="{{selectedLabel}} {{selectedCount}}"
          title="{{selectedLabel}} {{selectedCount}}"><span
      class="csui-selected-counter-label">{{selectedLabel}}</span><span
      class="binf-badge binf-badge-light csui-selected-counter-value">{{selectedCount}}</span>
  </button>
</div>
<div class="csui-dropmenu-container">
  <span class="csui-selected-count-clearall binf-hidden"><span
      class="csui-selected-count-clearall-label" aria-label="{{clearall}}" title="{{clearall}}"
      role="button" tabindex="0">{{clearall}}</span></span>

  <ul class="csui-selected-items-dropdown" role="menu"></ul>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->