{{#if lightWeight}}
  <div class="item-info lightweight{{#if disabled}} binf-disabled{{/if}} binf-pull-left">
    <span class="csui-item-name {{cssItemName}} binf-pull-left" title="{{name}}">{{name}}</span>
  </div>
{{else}}
  <div class="item-picture{{#if disabled}} binf-disabled{{/if}} binf-pull-left">
    <span class="csui-default-icon {{cssDefaultIcon}}"></span>
    <img class="csui-custom-image {{cssCustomImage}} binf-hidden" alt="{{name}}"
         src="{{imageUrl}}" >
  </div>
  <div class="item-info fullweight{{#if disabled}} binf-disabled{{/if}} binf-pull-left">
    <span class="csui-item-name {{cssItemName}} binf-pull-left" title="{{name}}">{{name}}</span>
    {{#if moreHtml}}{{{moreHtml}}}{{/if}}
    {{#if disabled}}
      <span class="message binf-pull-left">{{disabled-message}}</span>
    {{/if}}
  </div>
{{/if}}


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->