<div class="cs-item-picker {{classItemPicker}}"
     role="combobox" aria-expanded="false" aria-haspopup="true">
  <input id="{{id_input}}" class="typeahead binf-form-control cs-search" type="text"
         aria-autocomplete="list" {{#if ariaLabel}} aria-label="{{ariaLabel}}"{{/if}}
    {{#if idBtnDescription}}aria-describedby="{{idBtnDescription}}" {{/if}}
    {{#if isRequired}} aria-required="{{isRequired}}"{{/if}} placeholder="{{placeholder}}"
         aria-expanded="false" role="combobox">
  <div class="typeahead cs-search-clear csui-icon formfield_clear" title="{{clearValue}}"
       aria-label="{{clearValue}}" style="" tabindex="0"></div>
  <div class="typeahead cs-search-icon icon-sv-search"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->