<div class="{{this.className}}" title="{{this.title}}"
     draggable={{this.draggable}}>
  <span>{{this.title}}</span>
  <div class="csui-layout-icon {{this.iconClass}}"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->