<div class="csui-tab-pannel">
  <div class="csui-layout-tab" title="{{this.layoutTabTitle}}">
    {{this.layoutTabTitle}}
  </div>
  <div class="csui-AddWidget-tab" title="{{this.widgetTabTitle}}">
    {{this.widgetTabTitle}}
  </div>
  <div class="csui-widget-tab"></div>
</div>
<div class="csui-list-pannel"></div>
<div class="csui-template-overlay"></div>
<div class="csui-template-wrapper">
  <div class="csui-widget-template">
    <div class="csui-template-header"></div>
    <div class="csui-template-body">{{this.templateMessage}}</div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->