<button title="{{groupAddButtonTitle}}" aria-label="{{groupAddButtonTitle}}" class="binf-btn csui-groups-header-plus">
  <span class="icon icon-toolbarAdd"></span>
</button><span class="csui-groups-header-text">{{text}}</span>
<button
    class="binf-btn csui-groups-header-edit-mode csui-groups-header-edit-on">{{startEditMode}}</button>
<button
    class="binf-btn csui-groups-header-edit-mode csui-groups-header-edit-off">{{endEditMode}}</button>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->