<div class="xecmpf-eac-action-plan-list-item-selection-marker"></div>
<a role="button" href="#" class="binf-flex-row xecmpf-eac-action-plan-name-link" aria-label="{{name}}" title="{{name}}" tabindex="{{tabindex}}" >
    <span class="xecmpf-eac-action-plan-name">{{name}}</span>
</a>
<div role="button" class="binf-btn xecmpf-eac-action-plan-list-item-delete-btn"
        aria-label="{{deleteAria}}" tabindex="{{tabindex}}">
    <span class="icon circle_delete_grey" title="{{deleteTooltip}}"></span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->