<div class="binf-alert binf-alert-success binf-alert-dismissible">
  <strong title="{{name}}">{{name}}</strong>
  <div class="remove binf-alert-close binf-close" data-id="{{id}}"
       title="{{removeRole}}" aria-label="{{removeRole}}"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->