<div class="csui-search-slice-container" role="radiogroup">
  <div class="csui-search-slice-container-first" role="presentation"></div>
  {{#each slices}}
    <div class="csui-search-popover-row" data-sliceid="{{this.sliceId}}"
         title="{{this.sliceTooltip}}" role="radio" aria-checked="false" tabindex="-1">
      <div class="csui-search-popover-row-body" data-sliceid="{{this.sliceId}}">
        <div class="csui-search-popover-checked" data-sliceid="{{this.sliceId}}" id="{{this.sliceId}}"></div>
        <div class="csui-search-popover-label" data-sliceid="{{this.sliceId}}">{{this.sliceDisplayName}}</div>
      </div>
    </div>
  {{/each}}
  <div class="csui-search-slice-container-last" role="presentation"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->