<div class="csui-selected-checkbox csui-slice-checkbox csui-checkbox-primary">
  <input type="checkbox" {{checked}} class="csui-searchbox-option" name="{{this.nodeId}}" id="{{this.nodeIdSO}}"
         value="{{this.nodeId}}">
  <label class="csui-search-slice-name csui-selectlabel" for="{{this.nodeIdSO}}"
         title="{{this.fromHere}} {{this.nodeName}}">
          <span role="checkbox" aria-checked="true" class="csui-control">
            <span class="csui-icon icon-checkbox{{#if checked}} icon-checkbox-selected {{/if}}"></span>
          </span>
          <span class="cs-ellipsis">{{this.fromHere}} {{this.nodeName}}</span>
  </label>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->