<div class="search-bar">
  <div class="search-bar-content">
    <div class="csui-search-input-container">
      <input type="search" class="csui-input csui-acc-focusable"
             placeholder="{{messages.placeholder}}" title="{{messages.searchBoxTitle}}" tabindex="0"
             data-cstabindex="-1" aria-label="{{messages.searchBoxTitle}}">
      <div class="csui-search-options-dropdown"></div>
    </div>
    <span class="csui-clearer formfield_clear csui-acc-focusable" title="{{messages.clearerTitle}}"
          aria-label="{{messages.clearerTitle}}" role="button" tabindex="0" data-cstabindex="-1"></span>
  </div>
</div><a href="javascript:void(0);"
         class="icon icon-global-search csui-header-search-icon csui-acc-focusable"
         title="{{messages.searchIconTitle}}" aria-label="{{messages.searchIconAria}}"
         tabindex="0" data-cstabindex="-1" role="button" aria-haspopup="true" aria-expanded="false"></a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->