{{#if pastDueDate}}
  <span class="cellview_warning" title="{{value}}">{{formattedValue}}</span>
{{else}}
  <span title="{{value}}">{{formattedValue}}</span>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->