<div class="control-area cs-field-write">
  <div class="cs-field-write-inner">
    <input type="password" title="{{title}}" class="cs-formfield cs-passwordfield-input
    cs-passwordfield-write"
      {{#if options.placeholder}} placeholder="{{options.placeholder}}"{{/if}}
      {{#if name}}name="{{name}}"{{/if}} id="{{id}}"
      {{#if idBtnDescription}}aria-describedby="{{idBtnDescription}}" {{/if}}>
    </input>
    <div class="icon-container">
      <div class="csui-icon-edit inline-edit-icon edit-cancel" title="{{cancel}}"></div>
    </div>
  </div>
</div>

<div class="cs-field-read">
  <div class="cs-field-read-inner">
    <input type="password" title="{{title}}" class="cs-formfield cs-passwordfield-input
    cs-passwordfield-read"
      {{#if options.placeholder}} placeholder="{{options.placeholder}}"{{/if}}
      {{#if name}}name="{{name}}"{{/if}} >
    </input>

    <div class="icon-container">
      <div title="{{edit}}" aria-label="{{edit}}" role="button"
           class="csui-icon-edit inline-edit-icon icon-edit"></div>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->