<a href="#{{uniqueTabId}}" id="{{linkId}}" role="tab" aria-selected="{{selected}}" aria-controls="{{uniqueTabId}}" data-binf-toggle="tab">{{csui-l10n title}}</a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->