<div class="binf-row">
  \{{#if options.label}}
  <div class="binf-col-md-12 alpaca-container-label">
    <h4>\{{options.label}}</h4>
  </div>
  \{{/if}}
  {{#each fields}}
    {{#if this.isSetType}}
      <div class="binf-col-md-12 cs-form-singlecolumn csui-form-set-array-wrapper cs-form-set"
           id="csfSingleCol_{{../../modelId}}{{@index}}"></div>
    {{else}}
      <div class="binf-col-md-12 cs-form-doublecolumn" id="csfLeftCol_{{../../modelId}}{{@index}}"></div>
    {{/if}}
  {{/each}}
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->