<div class="csui-item-name-readonly title csui-acc-focusable" title="{{name}}" role="button"
     aria-expanded="false">
  <h2 class="csui-item-name-block">{{name}}</h2>
</div>
<div class="csui-item-name-edit title-edit-div">
  <input class="title-input" placeholder="{{placeholderName}}" type="text" value="{{name}}"
         title="{{edit_name_tooltip}}">
  <span class="csui-undo edit-cancel inline-edit-icon" title="{{cancel_edit_name_tooltip}}"></span>
  <div class="csui-item-name-error title-error binf-text-danger" title=""></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->