<div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12 esoc-social-comment-body-divider"></div>
<div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12 esoc-comment-list-divider"></div>
<div class="esoc-profileimg-block">
  <span class="esoc-userprofile-img">
    <img class="esoc-userprofile-img-{{user.id}} binf-img-circle" src=""></img>
  </span>
</div>
<div class="esoc-commentinfo-block-wrapper binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
  <div class="esoc-commentinfo-block binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
    <div class="esoc-social-comment-details">
      <div class="esoc-social-comment-user-details binf-col-lg-10 binf-col-md-10 binf-col-sm-10 binf-col-xs-10">
        <span class="esoc-user-widget"></span>
        <span class="esoc-social-timestamp">
          {{#if modified_at_iso8601}}
            <span class="esoc-social-comment-timestamp">
              <span class="esoc-social-comment-timestamp-ago"></span>
              <span class="esoc-social-comment-blue">{{messages.modifiedAt}}</span>
              <span class="esoc-social-timestamp-text">{{modified_at_iso8601}}</span>
            </span>
          {{else}}
            <span
                class="esoc-social-comment-timestamp esoc-social-timestamp-text">{{created_at_iso8601}}</span>
          {{/if}}
        </span>
      </div>
      <div class="esoc-social-comment-icon-holder binf-col-lg-2 binf-col-md-2 binf-col-sm-2 binf-col-xs-2">
        <div class="esoc-social-comment-icon-holder esoc-social-comment-icon-holder-inner">
          {{#if actions.edit}}
            <a href="javascript:void(0);"
               class="esoc-social-comment-button esoc-social-comment-icon-edit"
               title="{{messages.edit}}" aria-label="{{messages.edit}}"></a>
          {{/if}}

          {{#if actions.deleteAction}}
            <div class="esoc-social-comment-icon-spacer"></div>
            <a href="javascript:void(0);"
               class="esoc-social-comment-button esoc-social-reply-delete-confirm esoc-social-comment-icon-delete"
               title="{{messages.deleteReply}}" data-binf-toggle="modal"
               data-binf-target="#esoc-social-dialog" aria-label="{{messages.deleteReply}}"></a>
          {{/if}}

          {{#if actions.hide}}
            <div class="esoc-social-comment-icon-spacer"></div>
            <a href="javascript:void(0);"
               class="esoc-social-comment-button esoc-social-comment-icon-hide"
               title="{{messages.hide}}" aria-label="{{messages.hide}}"></a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
    <div class="binf-alert binf-alert-danger binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12 esoc-social-warning"
         role="alert"></div>
    <div class="esoc-extended-view-mode">
      <div
          class="esoc-social-reply-data esoc-social-reply-comment-data esoc-social-comment-text binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12"
          data-id="{{id}}">{{text}}</div>
      <a href="javascript:void(0);" title="{{messages.more}}"
         class="esoc-see-more esoc-see-more-activity esoc-hide-element" aria-label="{{messages.more}}">
        <span class="icon-arrow-down"></span></a>
      <a href="javascript:void(0);" title="{{messages.less}}"
         class="esoc-see-less esoc-see-less-activity esoc-hide-element" aria-label="{{messages.less}}">
        <span class="icon-arrow-up"></span></a>
    </div>
    <div id="esoc-social-reply-input-holder-{{id}}" class="esoc-social-reply-input-holder binf-col-lg-8
    binf-col-md-8 binf-col-sm-7 binf-col-xs-5">
            <textarea class="esoc-social-reply-data-textarea esoc-social-reply-data-textarea-{{id}}"
                      placeholder="{{messages.writeAComment}}">{{text}}</textarea>

      <div id="esoc-suggestion-reply-item_{{id}}"></div>
    </div>

    <div class="esoc-social-reply-icons-container binf-col-lg-4 binf-col-md-4 binf-col-sm-5 binf-col-xs-7">
      <div class="esoc-social-edit-icons" id="esoc-social-edit-reply-icons-{{id}}">
        <a href="javascript:void(0);" id="esoc-social-reply-edit-attachment-{{id}}"
           class="esoc-social-comment-attachment" data-html="true" data-binf-placement="bottom" aria-label="{{messages.attachFile}}"
        ></a>
        <a href="javascript:void(0);"
           class="esoc-social-comment-emoticon-{{id}} esoc-social-comment-emoticon esoc-social-reply-emoticon"
           id="esoc-social-reply-emoticon-{{id}}" title="{{messages.emoticon}}" aria-label="{{messages.emoticon}}"></a>
      </div>
    </div>

    {{#if extended_info.attachment_id}}
      {{#xif "this.extended_info.attachment_subtype == this.messages.shortcutAttachmentSubtype"}}
        <div id="esoc-social-reply-attachment-{{id}}"
             class="binf-col-lg-8 binf-col-md-8 binf-col-sm-10 binf-col-xs-10 esoc-social-attachment">
          <span class="csui-icon-group esoc-social-attachment-icon"
                title="{{extended_info.attachment_name}}">
            <a href="javascript:void(0);" id="esoc-social-selected-file-icon-{{id}}" class="binf-col-lg-2 binf-col-md-2 binf-col-sm-2 binf-col-xs-2
                  {{messages.mimeTypeClass}}" />
            <a href="javascript:void(0);" class="csui-icon csui-icon-shortcut-overlay"></a>
          </span>

          <div class="binf-col-lg-9 binf-col-md-9 binf-col-sm-9 binf-col-xs-9 esoc-social-attachment-name">
            <a href="javascript:void(0);" class="esoc-social-attachment-download"
               title="{{extended_info.attachment_name}}">{{extended_info.attachment_name}}</a>
          </div>
          {{#if actions.addshortcut}}
            <a href="javascript:void(0);" id="esoc-social-reply-attachment-icon-delete-{{id}}"
               class="binf-col-lg-1 binf-col-md-1 binf-col-sm-1 binf-col-xs-1 reply esoc-social-reply-attachment-icon-delete"
               data-binf-toggle="modal" data-binf-target="#esoc-social-dialog"
               title="{{messages.deleteReply}}" aria-label="{{messages.deleteReply}}"></a>
          {{/if}}
        </div>
      {{else xif "this.extended_info.attachment_subtype == this.messages.documentAttachmentSubtype"}}
        <div id="esoc-social-reply-attachment-{{id}}"
             class="binf-col-lg-8 binf-col-md-8 binf-col-sm-10 binf-col-xs-10 esoc-social-attachment">
          <a href="javascript:void(0);"
             class="binf-col-lg-2 binf-col-md-2 binf-col-sm-2 binf-col-xs-2 esoc-social-attachment-icon {{messages
             .mimeTypeClass}}" title="{{extended_info.attachment_name}}" aria-label="{{extended_info.attachment_name}}"></a>

          <div class="binf-col-lg-7 binf-col-md-7 binf-col-sm-7 binf-col-xs-7 esoc-social-attachment-name">
            <a href="javascript:void(0);" class="esoc-social-attachment-download"
               title="{{extended_info.attachment_name}}">{{extended_info.attachment_name}}</a>
          </div>
          <div
              class="binf-col-lg-2 binf-col-md-2 binf-col-sm-2 binf-col-xs-2 esoc-social-attachment-size">{{extended_info.attachment_size}}</div>
          {{#if actions.addattachment}}
            <a href="javascript:void(0);" id="esoc-social-reply-attachment-icon-delete-{{id}}"
               class="binf-col-lg-1 binf-col-md-1 binf-col-sm-1 binf-col-xs-1 reply esoc-social-reply-attachment-icon-delete"
               data-binf-toggle="modal" data-binf-target="#esoc-social-dialog"
               title="{{messages.deleteReply}}" aria-label="{{messages.deleteReply}}"></a>
          {{/if}}
        </div>
      {{/xif}}
    {{else}}
      {{#xif "this.actions.addattachment || this.actions.addshortcut"}}
        <div class="esoc-social-reply-list-actions binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
          <span class="esoc-reply-attachment">
            <a class="reply esoc-social-attachment-file" href="javascript:void(0)" data-html="true"
               data-binf-placement="bottom"> {{messages.attachFile}} </a>
          </span>
        </div>
      {{/xif}}
    {{/if}}

    <div class="esoc-social-reply-list-update binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
      <button class="esoc-social-reply-update binf-btn binf-btn-primary">
        {{messages.update}}
      </button>
      <button class="esoc-social-reply-cancel binf-btn binf-btn-default">
        {{messages.cancel}}
      </button>
      <span class="esoc-social-reply-hidden-text">{{text}}</span>
    </div>
  </div>
</div>

{{^if noMoreData}}
  <div id="show_more_{{id}}" class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
    <a href="javascript:void(0);" class="esoc-social-reply-seemore"
       style="display:none">{{messages.seeMoreRepiles}}</a>
  </div>
{{/if}}
<span class="esoc-social-reply-delete"></span>
{{#xif "this.actions.addattachment && !this.actions.addshortcut"}}
  <input type="file" id="esoc-social-replyedit-desktop-attachment-{{id}}" name="AddDesktopDoc"
         style="display:none" /><input type="file"
                                       id="esoc-social-replylist-desktop-attachment-{{id}}"
                                       name="AddDesktopDoc" style="display:none" />
{{/xif}}
<input type="hidden" id="esoc-social-reply-cs-shortcut-{{id}}-attachfiles" value="" /><input
    type="hidden" id="esoc-social-reply-cs-shortcut-edit-{{id}}" value="" />
<div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12 esoc-social-comment-body-divider"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->