<div class="cs-content-wrapper">

  <div class="cs-content-header">
    {{#if back_button}}
      <div class="overview-page-backbutton icon arrow_back cs-go-back csui-acc-focusable-active"
           aria-label="Go back" title="Go back" role="link" tabindex="0">
      </div>
    {{/if}}
    <div class="title-container"></div>
    <div class="actions-container">
      <div class="commentRegion"></div>
      <div class="favoriteRegion"></div>
    </div>

  </div>
  <div class="cs-content-container">
    <div class="description-container cs-content">
      <div class="created_by_section general-information"></div>
      <div class="modified_section general-information"></div>
      <div class="type_section general-information"></div>
      <div class="size_section general-information"></div>
      <div class="reserve_info general-information"></div>
      <div class="location-container general-information">
        <div class="alpaca-container-item">
          <div class="binf-form-group alpaca-field alpaca-field-text alpaca-optional
              alpaca-readonly">
            <label class="binf-control-label alpaca-control-label binf-col-sm-3">
              {{lang.location}}
            </label>
            <div id="location" class="binf-col-sm-9 location-view">

            </div>
          </div>
        </div>
      </div>
      <div class="description_section general-information">

      </div>
    </div>
    <div class="binf-col-md-4 thumbnail-container binf-hidden binf-text-left cs-content">
      <div class="metadata-tab">
        <div class="thumbnail_section metadata-preview preview-section" title="{{lang
        .ToolbarItemOpen}}">
          <img src="{{imgSrc}}" class="img-doc-preview binf-hidden" alt="{{imgAlt}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="cs-top-fadeout-container"></div>
  <div class="cs-fadeout-container"></div>
  <div class="cs-content-footer">
    <button class="binf-btn primary-btn command-btn" type="button"
            data-signature="Open">{{lang.ToolbarItemOpen}}</button>
    <button class="binf-btn default-btn command-btn" type="button"
            data-signature="Download">{{lang.ToolbarItemDownload}}</button>
    <button class="binf-btn default-btn command-btn edit-btn" type="button"
            data-signature="Edit">{{lang.ToolbarItemEdit}}</button>
    <button class="binf-btn default-btn command-btn" type="button"
            data-signature="Properties">{{lang.ToolbarItemProperties}}</button>
  </div>
</div>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->