<div class="column-item-container" tabindex="0" aria-label="{{name}}" role='radio' aria-checked={{checked}}>
  <span class="icon icon-listview-checkmark {{#if selected}}selected{{/if}}"></span>
  <span class="column-label" id="{{key}}" title="{{name}}">{{name}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->