<div class="csui-thumbnail-size csui-thumbnail-size-{{cid}}">
  {{#if displayLabel}}
    <div class="csui-thumbnail-label csui-thumbnail-size-label" aria-label="{{label}}">
      <span>{{label}}</span>
    </div>
  {{/if}}
  <div class="csui-thumbnail-value csui-thumbnail-size-justify-div">
    <p class="csui-thumbnail-size-value" title="{{value}}"
       aria-label="{{value}}">{{formattedValue}}</p>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->