
<div class="modal-dialog modal-sm load-container">
    <div class="binf-modal-dialog ">
        <div class="binf-modal-content">
            <div class="binf-modal-header wksp-dialog-header">
                <img src="impl/images/headerbar_content_server.png" title="{{signInTitle}}" class="signInImage" />
            </div>

            <div class="wksp-dialog-body" title="{{signInTitle}}">
                <div>{{signInMessage}}</div>
                <div class="errorMessage" > </div>
                <div>
                    <label for="userName">{{usernameLabel}}</label> <input class="wkspInput" id="userName" tabindex="0"/>
                </div>
                <div>
                    <label for="password">{{passwordLabel}}</label> <input class="wkspInput" id="password" type="password" tabindex="0" />
                </div>
            </div>
            
            <div class="binf-modal-footer">
                <button type="button" class="binf-btn binf-btn-primary csui-yes csui-default" tabindex="0" >
                    {{signInButtonTitle}}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->