{{#if enableCheckBox}}
    <span class="icon icon-checkbox {{showOnHover}}" tabindex="-1">
    <input type="checkbox" />
  </span>
{{/if}}
<div class="csui-filter-name" tabindex="-1" title="{{name}} ({{total}})">
    <div class="csui-name">{{name}}</div>
    <div class="csui-total">{{total}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->