<div {{#if show_input}}class="search-box csui-table-searchbox" {{else}}class="search-box csui-table-searchbox
binf-hidden"{{/if}}>
  <i class="icon-search-placeholder" title="{{search_input_tooltip}}" />
  <input type="search" class="csui-table-search-input" placeholder="{{search_placeholder}}"
         title="{{search_input_tooltip}}" value="{{search_value}}">
  <span class="fadeout csui-icon" title="{{search_input_tooltip}}"></span>
  <span class="sbclearer binf-hidden formfield_clear" role="button" aria-expanded="false"
        title="{{search_clear_icon_tooltip}}" aria-label="{{search_clear_icon_tooltip}}"
        tabindex="0"></span>
</div>
<div class="csui-table-search-icon" role="button" aria-expanded="false"
     aria-label="{{search_icon_tooltip}}" title="{{search_icon_tooltip}}" tabindex="0">
  <span class="icon icon-search"></span>
</div>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->