<form class="csui-inlineform-group csui-inlineform-group-folder-name {{#if
haveErrorMessage}}csui-form-error{{/if}}">
  <input type="text" value="{{name}}" placeholder="{{namePlaceholder}}"
         class="binf-form-control csui-inlineform-input-name {{#if haveErrorMessage}}csui-inlineform-error{{/if}}"
         aria-label="{{#if name}}{{name}}{{else}}{{namePlaceholder}}{{/if}}"
          {{#if haveErrorMessage}} aria-describedby="{{errorMsgId}}"{{/if}}>
  {{#if formModeIsEdit }}
    <button type="button" class="csui-btn-edit-cancel binf-btn" aria-label="{{EditCancelTooltip}}">
      <span class="icon edit-cancel" title="{{EditCancelTooltip}}"></span>
    </button>
  {{ else }}
    <button type="button" class="csui-btn-metadata binf-btn"><span
        class="icon icon-toolbar-metadata"></span></button>
    <div class="csui-inline-action-container">
      <button type="submit" class="csui-btn-save csui-btn binf-btn"
              disabled>{{SaveButtonLabel}}</button>
      <button type="button" class="csui-btn-cancel csui-btn binf-btn">{{CancelButtonLabel}}</button>
    </div>
  {{/if}}
</form>
{{#if haveErrorMessage}}
  <div class="csui-inlineform-group csui-inlineform-group-error" role="alert" id="{{errorMsgId}}">
    <div class="binf-text-danger" title="{{errorMessage}}"><span class="csui-text-danger">{{errorMessage}}</span></div>
  </div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->