<div class="csui-search-sort-options">
  <button id="{{id}}" type="button" class="binf-btn binf-btn-default binf-dropdown-toggle"
          title="{{sortByTooltip}}" data-binf-toggle="dropdown" aria-haspopup="true"
          aria-label="{{sortByAria}}" aria-expanded="false">
    <span class="cs-label">{{selectedValue}}</span>
    <span class="csui-button-icon icon-caret-down"></span>
  </button>
  <span class="csui-sort-arrow {{selectedArrowClass}}" title="{{selectedArrowTooltip}}"
        aria-label="{{selectedArrowAria}}" role="button" tabindex="0"></span>
  <ul class="binf-dropdown-menu" role="menu">
    {{#each sortListArray}}
      <li role="presentation">
          <a role="menuitem" href="#" class="csui-sort-option" data-binf-toggle="tab">
        {{#if this.selected }}
          <span class="cs-icon icon-listview-checkmark"></span>
        {{else}}
          <span class="cs-icon "></span>
        {{/if}}
        <span class="cs-label" title="{{this.value}}" data-sortbyid="{{this.key}}">{{this.value}} </span></a>
      </li>
    {{/each}}
  </ul>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->