<a href="#" role="button" class="csui-facet-item-content" aria-label="{{facetItemAria}}">
  <div>
    <span class="csui-label">
      <span class="csui-facet-item-facet-name">{{facetName}}:</span>
      <span class="csui-facet-item-topic-name">{{topicName}}</span>
    </span>
    <span class="csui-icon binf-close" data-csui-facet="{{facetId}}"
          data-csui-topic="{{topicId}}"></span>
  </div>
</a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->