{{#if showInlineActionBar}}<a class="csui-tileview-contains-more-btn" tabindex="-1"> {{/if}}
{{#if enableIcon}}<span class="csui-type-icon {{icon}}"></span>{{/if}}
<span title="{{name}}" class="list-item-title" role="link" aria-label="{{itemLabel}}">{{name}}</span>
{{#if end-icon}}<span class="{{end-icon-class}}"></span>{{/if}}
{{#if showInlineActionBar}}<span class="csui-tileview-more-btn"></span>{{/if}}
{{#if showInlineActionBar}}</a>{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->