<div class="SLIIcon">
      {{#if enableIcon}}<span class="csui-type-icon {{icon}}"></span>{{/if}}
</div>
<div class="SLIRightDiv">
  <div class="SLITitleDiv">
    <div class="SLITitle">
      <span title="{{name}}">{{name}}</span>
    </div>
    <div class="SLIDescription">
      <span title="{{description}}" aria-hidden="true">{{description}}</span>
    </div>
  </div>
  <div class="SLIInfo SLIInfo{{infoState}}">
    <span title="{{info}}" aria-hidden="true">{{info}}</span>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->