<div class="binf-list-group-item">
  <span class="csui-type-icon {{icon}}"></span>
  <span role="link" title="{{#if tooltip}}{{tooltip}}{{else}}{{name}}{{/if}}"
        class="list-item-title" aria-label="{{itemLabel}}">{{name}}</span>
  {{#if showInlineActionBar}}<span class="csui-tileview-more-btn"></span>{{/if}}

</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->