<div class="login-container">
  <div class="login-controls">
    <div class="branding"><span role="presentation" class="ot-logo">&nbsp;</span></div>
    <div class="login-error" id="loginError"></div>
    <div class="login-form-wrapper">
      <form>
        <div class="binf-form-group binf-has-feedback">
          <div class="col-md-20">
            <input id="inputUsername" type="text" class="binf-form-control binf-input-lg textbox hasclear"
                   placeholder="{{placeholderusername}}" aria-label="{{userNameAria}}">
              <span id="usernameclearer" class="clearer clear-icon binf-form-control-feedback"></span>

          </div>
        </div>
        <div class="binf-form-group binf-has-feedback">
          <div class="col-md-20">
            <input id="inputPassword" type="password"
                   class="binf-form-control binf-input-lg textbox hasclear"
                   placeholder="{{placeholderpassword}}" aria-label="{{passwordAria}}">
              <span id="passwordclearer" class="clearer clear-icon binf-form-control-feedback"></span>
          </div>
        </div>
        <button id="buttonSubmit" type="button" class="login-btn">{{buttontext}}</button>
      </form>
    </div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->