<button type="button" class="binf-btn csui-breadcrumb-handle-caret caret-show-breadcrumb"
        aria-label="{{showBreadcrumbsAria}}">
  <span class="csui-button-icon icon-expandArrowDown"></span>
</button>
<button type="button" class="binf-btn csui-breadcrumb-handle-caret caret-hide-breadcrumb"
        aria-label="{{hideBreadcrumbsAria}}">
  <span class="csui-button-icon icon-expandArrowUp"></span>
</button>
<button type="button" class="binf-btn binf-btn-default csui-breadcrumb-handle-btn
btn-show-breadcrumb" aria-label="{{showBreadcrumbsAria}}" aria-pressed="false">
  <span class="csui-button-icon icon-expandArrowDown"></span> {{showBreadcrumbs}}
</button>
<button type="button" class="binf-btn binf-btn-default csui-breadcrumb-handle-btn
btn-hide-breadcrumb" aria-label="{{hideBreadcrumbsAria}}" aria-pressed="true">
  <span class="csui-button-icon icon-expandArrowUp"></span> {{hideBreadcrumbs}}
</button>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->