<div class="role-name-cell">
  <a href="#">
    <div class="role-name-box">
      <div class="role-name-name-cell">
      <span class="name" title="{{formattedValue}}">{{formattedValue}}</span>
      {{#if leader }}
        <span class="teamlead">{{leader}}</span>
      {{/if}}
      {{#if inherited}}
        <span class="inherited">{{inherited}}</span>
      {{/if}}
      </div>
      <div class="role-name-icon-cell">
        <span class="csui-icon conws-icon-roles-details" title="{{toolTip}}" aria-label="{{toolTip}}"></span>
      </div>
    </div>
  </a>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->