<div class="xecmpf-eac-actionplan-content"></div>
<div class="xecmpf-eac-actionplan-footer-container">
    <div class="xecmpf-eac-actionplan-footer binf-right">
        <button title="{{save}}" aria-label="{{save}}" class="binf-btn binf-btn-primary xecmpf-eac-save-actionplan">
            {{save}}</button>
        <button title="{{cancel}}" aria-label="{{cancel}}" class="cancel-btn binf-btn binf-btn-default xecmpf-eac-cancel-actionplan">{{cancel}}</button>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->