<div class="csui-thumbnail-item-content csui-thumbnail-item-content-{{cid}}">
  {{#if displayLabel}}
    <div class="csui-thumbnail-label csui-thumbnail-item-content-label" aria-label="{{label}}">
      <span>{{label}}</span>
    </div>
  {{/if}}
  <div class="csui-thumbnail-value csui-thumbnail-item-content-justify-div">
    <p class="csui-thumbnail-item-content-value" title="{{value}}"
       aria-label="{{value}}">{{value}}</p>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->