<button id="{{id}}" class="binf-btn binf-btn-default binf-dropdown-toggle csui-acc-focusable"
        data-binf-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        aria-label="{{labelSelectLocation}}">
  <span class="{{iconClass}}"></span>
  <span class="cs-label">{{name}}</span>
  <span class="cs-icon icon-caret-down"></span>
</button>
<div class="csui-separator"></div>
<ul class="binf-dropdown-menu" role="menu" aria-labelledby="{{id}}"></ul>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->