<div class="cs-header">
  {{formHeading}}
</div>
<div class="cs-ml-form-container">
  {{#each languages}}
    <div class="binf-row">
      <label class="binf-control-label alpaca-control-label binf-col-sm-4"
             for="input-{{this.LanguageCode}}"
             title="{{this.LanguageNameLocal}}">{{this.LanguageNameLocal}}</label>
      <div class="binf-col-sm-8 "><input id="input-{{this.LanguageCode}}"
                                         value="{{lookup ../data this.LanguageCode}}"></div>
    </div>
  {{/each}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->