<div class="binf-row">
  <div class="binf-col-sm-12 binf-control-label">
    {{disableVersioningTitle}}
  </div>
  <div class="binf-col-sm-12">
    <label class="binf-radio-inline">
      <input type="radio" name="versioncontrol" value='{{currentFolder}}' tabindex='0'
             checked> {{currentFolder}}</input>
    </label>
  </div>
  <div class="binf-col-sm-12">
    <label class="binf-radio-inline">
      <input type="radio" name="versioncontrol" value='{{currentAndSubfolder}}'
             tabindex='0'>{{currentAndSubfolder}}</input>
    </label>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->