<div class="binf-row">
  <div class="binf-col-sm-12 binf-control-label">
    {{uploadDocument}}
  </div>
  <div class="binf-col-sm-12">
    <label class="binf-radio-inline">
      <input type="radio" name="versioncontrol" value="{{majorMinorVersion}}" tabindex='0'
             checked> {{majorMinorVersion}} </input>
    </label>
  </div>
  <div class="binf-col-sm-12 csui-minor-example">{{majorMinorExample}}</div>
  <div class="binf-col-sm-12">
    <label class="binf-radio-inline">
      <input type="radio" name="versioncontrol" value="{{majorVersion}}"
             tabindex='0'>{{majorVersion}}</input>
    </label>
  </div>
  <div class="binf-col-sm-12 csui-minor-example">{{majorVersionExample}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->