<div class="csui-selected-member" id="{{id}}">
  <div class="member-picture binf-pull-left">
    <span class="csui-icon-paceholder csui-icon image_user_placeholder">{{initials}}</span>
    <img class="csui-icon-user csui-icon binf-img-circle binf-hidden" alt="{{name}}"
         src="{{userImgSrc}}">
  </div>
  <div class="member-info binf-pull-left">
    <span class="name binf-pull-left" title="{{name}}">{{name}}</span>
    <span class="department binf-pull-left" title="{{department}}">{{department}}</span>

  </div>
  <button type="button" class="close notification_error" aria-label="{{removeSelectedUserAria}}"
          title="{{removeSelectedUser}}"></button>
</div>
 

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->