<form>
  <div class="binf-hidden-md binf-hidden-lg hidden-xl hidden-xxl
       conws-inlineform-vertical-spacer"></div>
  <div class="csui-inlineform-group csui-inlineform-group-conwstemplate">

    <input type="text" value="{{name}}" placeholder="{{namePlaceholder}}" class="binf-form-control csui-inlineform-input-name {{#if validationFailed_Name~}} hasError
         {{~/if}}">
    
    {{#if createMode}}
    <select type="text" value="" class="binf-hidden-xs binf-hidden-sm binf-form-control conws-inlineform-input-wstype">
      <option value="">{{wsTypePlaceholder}}</option>
      {{#each wstypes}}
      <option value="{{data.properties.wksp_type_id}}">{{data.properties.wksp_type_name}}</option>
      {{/each}}
    </select>
    {{/if}}

    <button type="button" class="binf-hidden-xs
    binf-hidden-sm csui-btn-metadata binf-btn">
      <span class="icon icon-toolbar-metadata"></span>
    </button>
    <button type="submit" class="binf-hidden-xs
    binf-hidden-sm csui-btn-save csui-btn binf-btn
            {{#if disableSavebtn}} {{else}}binf-btn-default {{/if}}" {{#if disableSavebtn}} disabled {{/if}}>{{SaveButtonLabel}}</button>
    <button type="button" class="binf-hidden-xs binf-hidden-sm csui-btn-cancel csui-btn binf-btn
            binf-btn-default">{{CancelButtonLabel}}</button>

  </div>

  <div class="binf-hidden-md binf-hidden-lg hidden-xl hidden-xxl
       conws-inlineform-vertical-spacer"></div>

  <div class="binf-hidden-md binf-hidden-lg hidden-xl hidden-xxl csui-inlineform-group
csui-inlineform-group-conwstemplate-wrapped">
    {{#if createMode}}
    <select type="text" value="" class=" binf-form-control conws-inlineform-input-wstype">
      <option value="">{{wsTypePlaceholder}}</option>
      {{#each wstypes}}
      <option value="{{data.properties.wksp_type_id}}">{{data.properties.wksp_type_name}}</option>
      {{/each}}
    </select>
    {{/if}}
    <button type="button" class="csui-btn-metadata binf-btn">
      <span class="icon icon-toolbar-metadata"></span>
    </button>
    <button type="submit" class="csui-btn-save csui-btn binf-btn
            {{#if disableSavebtn}} {{else}}binf-btn-default {{/if}}" {{#if disableSavebtn}} disabled {{/if}}>{{SaveButtonLabel}}</button>
    <button type="button" class="csui-btn-cancel csui-btn binf-btn binf-btn-default">{{CancelButtonLabel}}</button>
  </div>
  <div class="binf-hidden-md binf-hidden-lg hidden-xl hidden-xxl
       conws-inlineform-vertical-spacer"></div>
</form>
{{#if haveErrorMessage}}
<div class="csui-inlineform-group csui-inlineform-group-error" role="alert">
  <div class="binf-text-danger">{{errorMessage}}</div>
</div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->