<div class="binf-row">
  \{{#if options.label}}
  <div class="binf-col-md-12 alpaca-container-label">
    <h4>\{{options.label}}</h4>
  </div>
  \{{/if}}
  <div class="metadata-pane-container">

    <div class="metadata-pane-left binf-col-md-6  cs-form-doublecolumn cs-form-leftcolumn">
      <div class="owner_section general-information"></div>
      <div class="typename_section general-information"></div>
      <div class="size_section general-information"></div>
      <div class="reserve_info general-information"></div>
      <div class="csui-extra-general-fields"></div>
    </div>
    <div class="metadata-pane-right binf-col-md-6 cs-form-doublecolumn cs-form-rightcolumn">
      <div class="metadata-tab">
        \{{#if options.showThumbnail}}
        <div class="thumbnail_section metadata-preview preview-section" title="\{{options.title}}">
          <span class="thumbnail_not_loaded thumbnail_empty" data-cstabindex="0" role="button"
                aria-label="\{{options.aria_label}}"></span>
          <img src="\{{options.imgSrc}}" class="img-doc-preview binf-hidden"
               alt="\{{options.imgAlt}}">
        </div>
        \{{/if}}
        <div class="description_section general-information"></div>
      </div>
    </div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->