<div class="xecmpf-search-bar" role="dialog">
  <div class="xecmpf-search-bar-content">  
      <span class="xecmpf-search-icon-static" title="{{searchTooltip}}"
          aria-label="{{searchTooltip}}"></span>  
    <div class="xecmpf-search-input-container">
      <input type="text" class="xecmpf-input" placeholder="{{searchFromHere}}"
             title="{{searchFromHere}}" aria-label="{{searchFromHere}}">
    </div>
    <a href="#" class="xecmpf-clearer formfield_clear" title="{{clearTextTooltip}}"
          aria-label="{{clearTextTooltip}}"></a>
  </div>
</div>
<div role="button" class="xempf-search-close" aria-label="{{closeSearchTooltip}}">
  <a href="javascript:void(0);" class="icon xecmpf-icon-close xempf-search-hide csui-acc-focusable"
    title="{{closeSearchTooltip}}" aria-label="{{closeSearchTooltip}}" aria-expanded="false"></a>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->