<div class="conws-roles-btn-div">
  <a class="conws-roles-btn" href="#">
    <div class="conws-roles-text">
      <div class="conws-roles-truncatebox">
        <span title="{{value}}" class="conws-roles-text-truncate">{{value}}</span>&nbsp;<span class="conws-roles-count">{{indicator}}</span>
      </div>
      <div class="role-name-icon-cell">
        <span class="csui-icon conws-icon-roles-edit" title="{{toolTip}}" aria-label="{{toolTip}}"></span>
      </div>
    </div>
  </a>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->